header {
  background: rgba(16, 16, 29, 0.9);
  height: 100px;
  position: sticky;
  top: 0px;
  z-index: 9;
}

nav {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
  text-transform: uppercase;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    line-height: 33px;
    font-size: 28px;

    span {
      color: #42a9ed;
    }
  }

  ul {
    display: flex;
    line-height: 100px;

    li {
      margin-right: 60px;

      &:last-child {
        margin-right: 0;
      }

      a {
        transition: active 0.2s ease-in, color 0.2s ease-in;

        &:active,
        &:hover {
          color: $hover-link;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  nav {
    display: flex;
    justify-content: space-around;
  }
}
